<div class="article-content">
  <div class="row pb-5">
    <div class="col-8 ps-0">
      <p class="display-4">About Me</p>
      <hr class="hr" />
      <p>
        Hi, my name is Aaron Barge! I graduated from the University of South
        Carolina in 2021 with a BSE in computer engineering. After graduation, I
        landed a full-time junior software developer position in April of 2022.
        I love the challenges and problem-solving nature of programming, as well
        as the satisfaction of seeing a finished product that I had a hand in
        creating.
      </p>
      <p>
        In my free time, I enjoy working on puzzles, particularly killer sudoku,
        as well as cooking. I find that both activities require creativity,
        attention to detail, and a willingness to experiment, which I enjoy. I
        am excited to continue growing as a software developer and tackling new
        challenges as they arise.
      </p>
    </div>
    <div class="col-4 ps-5 pt-4">
      <img
        id="image"
        class="h-auto rounded-circle"
        src="../../assets/me.jpg"
        width="100%" />
    </div>
  </div>
  <div id="word-search-wrapper">
    <app-word-search></app-word-search>
  </div>
</div>
