<div id="inner-project">
  <!--Documentation Section Start-->
  <app-section-heading id="specs" title="Specifications"></app-section-heading>

  <p>
    
  </p>
  <!--Documentation Section End-->

  <!--Specifications Section Start-->
  <app-section-heading
    id="design-challenges"
    title="Design Challenges"></app-section-heading>

  <!--Specifications Section End-->

  <!--Credits Section Start-->
  <app-section-heading id="credits" title="Credits"></app-section-heading>

  <!--Credits Section End-->
</div>
